<footer>
	<div class="container clearfix">
		<div class="pull-left">
      <ul class="social-icons inline">
        <li><a href="http://www.facebook.com/unikexperience" title="Visiter notre page Facebook"><img alt="Visiter notre page Facebook" src="../../images/icons/facebook.png"></a></li>
        <li><a href="http://twitter.com/UnikExperience" title="Visiter notre page Twitter"><img alt="Visiter notre page Twitter" src="../../images/icons/twitter.png"></a></li>
        <li><a href="https://plus.google.com/u/0/117910556693459476026/posts" title="Visiter notre page Google+"><img alt="Visiter notre page Google+" src="../../images/icons/googleplus.png"></a></li>
      </ul>
    </div>
		<div class="pull-right">&copy; 2013 Unik Experience. <a href="https://www.stockholmsbadrumsrenovering.com" title="badrumsrenovering stockholm">Badrumsrenovering Stockholm</a>
    </div>
	</div><!-- container -->
</footer>
