---
layout: default
---
<div class="container blog-article">
  <article>
    <h1>{{ page.title }}</h1>
    <div class="content">
      {{ content }}
    </div>
  </article>
  <a href="/blog" title="Back to the blog articles">All blog posts ></a>
  <hr>
  <div itemscope itemtype="http://schema.org/Person" class="about-author">
    <h4>About the author</h4>
    My name is
    <span itemprop="name">{{ page.authorname }}</span>
    but people call me
    <span itemprop="nickname">{{ page.authornickname }}</span>.
    <br>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      I live in
      <span itemprop="addressLocality">{{ page.authorcity }}</span>
    </div>
    You can reach me on my phone number:
    <a href="tel:{{ page.authorphone }}"><span itemprop="telephone">{{ page.authorphone }}</span></a>
    or by email:
    <a href="mailto:{{ page.authoremail }}" itemprop="email">
      {{ page.authoremail }}
    </a>
    <br>
    <a href="{{ page.googleauthor }}" itemprop="url" rel="author" title="Visit {{ page.authorname }} Google+ profile page">
      Visit my Google+ profile page
    </a>
  </div>
  <hr>
  {% include disqus.html %}
</div>
